@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="page-title">
        <img src="~/img/pizza_logo_white.png" height="100" width="100" border="0" class="mb-2" />
        <h1 class="display-4">Welcome to Pronto Pizza!</h1>
    </div>

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="row gx-5 row-cols-3">
                    <div class="col mb-5 h-100">
                        <a class="text-light" asp-area="" asp-controller="Products" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-fork-knife"></i></div>
                            <h2 class="h5">Products</h2>
                        </a>
                        <p class="mb-0">Create, edit and delete product information.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <a class="text-light" asp-area="" asp-controller="Orders" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-bag-fill"></i></div>
                            <h2 class="h5">Orders</h2>
                        </a>
                        <p class="mb-0">View all orders and edit information.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <a class="text-light" asp-area="" asp-controller="Roles" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-person-fill"></i></div>
                            <h2 class="h5">Roles</h2>
                        </a>
                        <p class="mb-0">View and edit roles.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
