@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 page-title">Welcome to Pronto Pizza!</h1>

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="row gx-5 row-cols-4">
                    <div class="col mb-5 h-100">
                        <a class="text-light" asp-area="" asp-controller="Products" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-fork-knife"></i></div>
                            <h2 class="h5">Products</h2>
                        </a>
                        <p class="mb-0">Create, edit and delete product information.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <a class="text-light" asp-area="" asp-controller="Orders" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-bag-fill"></i></div>
                            <h2 class="h5">Orders</h2>
                        </a>
                        <p class="mb-0">View all orders and edit information.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <a class="text-light" asp-area="" asp-controller="Roles" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-person-fill"></i></div>
                            <h2 class="h5">Roles</h2>
                        </a>
                        <p class="mb-0">View and edit roles.</p>
                    </div>
                    <div class="col h-100">
                        <a class="text-light" asp-area="" asp-controller="Products" asp-action="Index">
                            <div class="action bg-light bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-gear-fill"></i></div>
                            <h2 class="h5">temp</h2>
                        </a>
                        <p class="mb-0">placeholder, can be removed</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
