html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-dark {
    background-color: #0b0b0baa;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(/img/bg-img.jpg);
    background-size: contain;
    color: white;
}

.page-title {
    margin-top: 70px;
}

.custom-table {
    background-color: #0b0b0baa;
    color: #fff !important;
}

.custom-table th,
.custom-table td {
    background-color: inherit !important;
    color: inherit !important;
}

.input-section {
    margin-bottom: 15px;
}

.input-section input, .input-section input:focus, .input-section select, .input-section select:focus {
    background-color: #222;
    color: white;
}

.select-input select, .select-input select:focus {
    background-color: #222;
    color: white;
}

.submit-button {
    margin-top: 25px;
    margin-bottom: 10px;
}

.crud-link {
    color: lightsteelblue;
}

.crud-link:hover {
    color: steelblue;
}

.account-input, .account-input:focus {
    background-color: #222;
    color: white;
}

.account-link {
    color: lightsteelblue;
}

.account-link:hover {
    color: steelblue;
}

.light-link {
    color: lightsteelblue;
}

.light-link:hover {
    color: steelblue;
}

.action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.role-input select, .role-input input, .role-input input:focus {
    background-color: #222;
    color: white;
}

.role-list {
    background-color: #222;
    color: white;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}